<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>

<style>
    * {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        border: none;

        transition: all 0.3s linear;
    }

    a {
        color: black;
    }

    body {
        background-color: #eee;
    }

    #img {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    #imgk {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }

    #imgk1 {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    nav {
        background-color: black;
        width: 100%;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
        top: 0;
        position: sticky;
        z-index: 1;


    }

    nav .navbar {
        margin: 0 7% 0 7%;
        display: flex;
        justify-content: space-between;

    }

    nav .navbar .logo {
        height: 4rem;
        display: flex;
    }

    nav .navbar .logo i {
        color: #fff;
        padding-top: 1.6rem;
        font-size: 1.4rem;
        display: none;
    }


    nav .navbar .logo img {
        height: 100%;
    }

    nav .navbar .welcome {

        padding: 1rem 0 0 0;


    }

    nav .navbar .welcome ul {
        display: flex;
        padding: 0.2rem;
    }

    nav .navbar .welcome ul a {
        list-style: none;
        padding: 0.7rem;
        text-decoration: none;
        color: aliceblue;

    }

    nav .navbar .welcome form {
        margin: 0.7rem 0rem;


    }

    nav .navbar .welcome form input {
        padding: 0.3rem 1rem;
        border: 0.1rem solid black;
        border-radius: 1rem;
    }

    nav .navbar .welcome form button {
        background-color: black;
        padding: 0 0.3rem;
    }

    nav .navbar .welcome form button i {
        color: aliceblue;
        cursor: pointer;
    }

    .body .userpost form {
        padding: 2rem;
    }

    .body .userpost form input {
        padding-bottom: 0.6rem;
    }

    .form-group {
        margin: 1.5rem;
        border-bottom: 0.1rem solid black;
        display: flex;
        gap: 0.8rem;
    }

    .body .userpost form button {
        margin-top: 4rem;
        border: 0.1rem solid black;
        border-radius: 1rem;
        width: 80%;
        font-size: 1rem;
        padding: 0.7rem;
        background-color: black;
        color: aliceblue;
        cursor: pointer;


    }

    .body {
        display: flex;
        justify-content: space-between;
        margin: 2rem 7%;
    }

    .body .userpost {
        background-color: #fff;
        width: 40%;
        border-radius: 0.5rem;
    }

    .body .userpost .post {
        margin: 1.5rem;
        display: flex;
        gap: 1rem;

    }

    .body .userpost .post .userimage {
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;

    }

    .body .userpost .post .userinput form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .body .userpost .post .userinput form input,
    textarea,
    button {

        padding: 0.3rem;
        margin: 0.6rem;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
    }

    .feed {
        margin: 1.5rem;
    }

    .feed-1 {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .feed-1 li {
        list-style-type: none;
        font-size: 1rem;
    }

    .feed-3 {
        margin-top: 0.8rem;
    }

    .feed-2 {
        height: 15rem;
        width: 100%;
        margin-top: 0.8rem;

    }

    .feed-2 img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
    }

    .feedpost {
        margin-top: 1rem;
        border-top: 0.1rem solid black;
        padding-top: 1.5rem;
    }

    .nonconnections {
        margin: 1.5rem;
    }

    .nonconnections-1 {
        display: flex;
        margin-top: 2rem;
        padding-top: 1.5rem;

    }

    .nonconnection-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: 0.1rem solid black;
        border-radius: 0.6rem;
        margin-left: 1rem;
        border-top: 0.1rem solid black;
    }

    .nonconnection-2 li {
        list-style-type: none;
    }

    .mobile-navbar {
        display: none;
    }

    @media(max-width:772px) {
        nav .navbar .welcome {
            display: none;
        }

        nav .navbar .logo i {
            display: block;
        }

        .mobile-navbar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: black;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;

        }

        .nav-item {
            text-decoration: none;
            color: white;
            font-size: 1rem;
        }

        .body .userpost {
            width: 100%;
        }

        .body .userpost .post .userinput form {
            display: flex;
            flex-direction: column;
            width: 70%;
        }

        .form-group {
            margin: 1.5rem 1rem;
            border-bottom: 0.1rem solid black;
        }

    }
</style>

<body>

    <nav>
        <div class="navbar">
            <div class="logo">
                <i class="fas fa-bars" id="menubars" onclick="togglefunction()" onmouseleave="removetoggle()"></i>
                <img src="logo.png" alt="">
            </div>
            <div class="welcome">
                <ul>
                    <a href="/">
                        <li>home</li>
                    </a>
                    <a href="searchpdf">
                        <li>searchnotes</li>
                    </a>
                    <a href="/upload">
                        <li>uploadnotes</li>
                    </a>
                </ul>
            </div>
            <div class="welcome">
                <ul>
                    <a href="">
                        <li><img id="imgk" src="signin-image.jpg" alt=""></li>
                    </a>
                    <a href="/v2/{{username}}">
                        <li>{{username}}</li>
                    </a>

                </ul>
            </div>
        </div>
    </nav>


    <div class="body">
        <div class="userpost">
            <div class="upload-form">
                <form action="/v3/upload" method="POST" enctype="multipart/form-data">
                    <div class="success">
                        {{#if success}}
                        <div class="success-message">
                            <p>File uploaded successfully!</p>
                        </div>
                        {{/if}}
                    </div>
                    <div class="form-group">
                        <label for=""><i class="fa-solid fa-book"></i></label>
                        <input type="text" name="subjectname" placeholder="enter subject name" required>
                    </div>
                    <div class="form-group">
                        <label for=""><i class="fa-sharp fa-solid fa-file-arrow-up"></i></label>
                        <input type="file" name="pdf" required>
                    </div>
                    <button value="submit">upload</button>
                </form>
            </div>




        </div>
        <div class="brainbulbthings">

        </div>
    </div>
    <div class="mobile-navbar">
        <a href="/" class="nav-item"><i class="fa-solid fa-house"></i></a>
        <a href="/searchpdf" class="nav-item"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="/upload" class="nav-item"><i class="fa-solid fa-file-arrow-up"></i></a>
        <a href="/v2/{{username}}" class="nav-item"><i class="fa-solid fa-user"></i></a>
    </div>
</body>

</html>